<div class="py-6">
  <%= render(Collab::TitleComponent.new) do |t| %>
    <%= t(".title") %>
    <% t.with_action { link_to(t(".add_button"), new_collab_cohort_path, class: "btn btn-primary") } if policy([:collab, Cohort]).new? %>
  <% end %>
  <div class="px-4 sm:px-6 md:px-8">
    <%= render(Collab::TableComponent.new) do |tc| %>
      <%= render "table", tc: tc, cohorts: @cohorts %>
    <% end %>
  </div>
</div>
