<div class="py-6">
  <%= render(Collab::TitleComponent.new) { t(".title") } %>
  <div class="px-4 sm:px-6 md:px-8">
    <%= render("annotations", annotations: @annotations, cohorts: @available_cohorts, states: @aasm_states, pagy: @pagy) %>
  </div>
</div>
