<button
  data-controller="mobile-sidebar-button-component"
  data-action="mobile-sidebar-button-component#open"
  type="button"
  class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-brand md:hidden">
  <span class="sr-only"><%= t("layouts.collab.sidebar_component.open_sidebar") %></span>
  <i class="ph-list tx-3xl text-gray-600"></i>
</button>
