<div class="py-6">
  <%= render(Collab::TitleComponent.new(max_width: "5xl")) do |t| %>
    <%= t(".title") %>
    <% t.with_action { link_to(t("helpers.cancel"), collab_comment_templates_path, class: "btn btn-secondary") } %>
  <% end %>
  <div class="max-w-5xl px-4 sm:px-6 md:px-8">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <%= render "form", comment_template: @comment_template %>
    </div>
  </div>
</div>
