<div class="py-6">
  <%= render(Collab::TitleComponent.new(max_width: "5xl")) do |t| %>
    <%= t(".title") %>
  <% end %>
  <div class="max-w-5xl px-4 sm:px-6 md:px-8">
    <%= render(Collab::DetailsComponent.new) do |t| %>
      <% t.with_title { t(".details") } %>
      <% t.with_detail(label: t("activerecord.attributes.user.note"), value: render("show", notable: @note_form.notable)) %>
    <% end %>
  </div>
</div>
