<tr id="<%= dom_id(credential) %>" class="border-b border-gray-200">
  <td class="py-4 whitespace-nowrap">
    <%= credential.nickname %>
  </td>
  <td class="py-4 whitespace-nowrap text-right">
    <%=
      button_to(
        collab_webauthn_credential_path(credential),
        method: :delete,
        class: "inline-flex items-center px-2.5 py-0.5 text-sm leading-5 font-medium text-red-700 hover:text-red-500",
        form: {data: {turbo_confirm: t("helpers.are_you_sure")}}
      ) do
    %>
      <%=
        render(IconComponent.new(
          "trash",
          classes: "text-contrast-#{@color_index} text-xl hover:text-gray-800"
        ))
      %>
    <% end %>
  </td>
</li>
