<% content_for :content do %>
  <div class="h-screen">
    <%= render "layouts/public_header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </div>
<% end %>
<%= render template: "layouts/application" %>
